/* user styles */
body {
  background-color: #eee;
  font-family: monospace; 
  color: #333;
  margin: 0;
}

button {
  font-family: monospace;
  padding: 0.5rem;
  cursor: pointer;
}

h3 {
  font-size: 1rem;
  margin: 0;
}

#app {
  background-color: mintcream;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px auto;
  grid-template-areas:
    "controls controls ."
    "annotation-tool annotation-tool annotations";
  grid-gap: 1rem;
  padding: 1rem;
}

.active {
  color: orchid;
}

.annotation-form {
  background-color:lavenderblush;
  border: 1px solid burlywood;
  margin-bottom: 1rem;
}

.annotation-form button {
  padding: 0.25rem;
}

.annotation-form h3 {
  flex-grow: 1;
}

.annotation-form pre { 
  margin: 0;
  padding: 1rem;
}

.annotation-form .title {
  align-items: center;
  background-color: thistle;
  display: flex;
  padding: 0.5rem;
}

.annotation-form .encoders {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  text-align: center;
}

.annotation-form .encoders svg {
  display: block;
}

.annotation-tool {
  background-color: cornsilk;
  border: 1px solid burlywood;
  display: grid;
  grid-area: annotation-tool;
  grid-gap: 0.5rem;
  grid-template-areas:
    ". n1"
    "y1 v1"
    ". x1"
    "y2 v2"
    ". n2";
  grid-template-columns: 80px 1fr;
  grid-template-rows: 40px 400px 20px 400px 40px;
  padding: 0.5rem;
}

.annotations {
  grid-area: annotations;
}

.audio-controls {
  display: flex;
  flex-direction: row;
  justify-self: end;
}

.audio-duration {
  background-color: cornsilk;
  border: 1px solid burlywood;
  display: flex;
  flex-direction: row;
  font-family: monospace;
  font-size: 1.25rem;
  justify-content: space-between; 
  padding: 0.5rem;
}

.axis-x {
  grid-area: x1;
}

.controls {
  align-items: center;
  display: grid;
  grid-area: controls;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.controls button ~ button {
  margin-left: 0.5rem;
}

.navigator {
  cursor: crosshair;
  background-color:navajowhite;
}

.spectrogram.axis-y {
  grid-area: y1;
}

.spectrogram.navigator {
  grid-area: n1;
}

.spectrogram.visualization {
  grid-area: v1;
}

.tool-controls {
  display: flex;
  flex-direction: row;
}

.tool-annotate .visualization {
  cursor: crosshair;
}

.tool-pan .visualization {
  cursor: move;
}

.tool-select .visualization {
  cursor: context-menu;
}

.tool-zoom .navigator {
  cursor: zoom-out;
}

.tool-zoom .visualization {
  cursor: zoom-in;
}

.visualization {
  background-color: navajowhite;
}

.waveform.axis-y {
  grid-area: y2;
}

.waveform.navigator {
  grid-area: n2;
}

.waveform.visualization {
  grid-area: v2;
}

/* specviz defaults */
.annotation {
  mix-blend-mode: difference;
}

.annotation:hover {
  overflow: visible;
}

.annotation rect {
  fill: rgba(99, 99, 99, 0.33);
  stroke: rgba(200, 200, 200, 0.66);
}

.annotation text {
  fill: rgba(200, 200, 200, 1);
  font-size: 10pt;
  text-anchor: start;
  alignment-baseline: hanging;
  font-family: monospace;
  mix-blend-mode: difference;
}

.annotation.annotation-selected rect {
  fill: rgba(200, 200, 200, 1);
}

.annotation.annotation-selected text {
  fill: rgba(200, 200, 200, 1)
}

.axis-tick line {
  stroke: rgba(33, 33, 33, 1);
  stroke-width: 1px;
}

.axis-tick text {
  alignment-baseline: hanging;
  fill: rgba(33, 33, 33, 1);
  font-family: monospace;
  font-size: 8pt;
  text-anchor: start;
}

.axis-x, .axis-y {
  overflow: hidden;
}

.cursor-x,
.cursor-y {
  stroke: white;
  stroke-width: 0.2%;
  mix-blend-mode: difference;
}

.cursor-text {
  fill: white;
  font-size: 12pt;
  font-family: monospace;
  mix-blend-mode: difference;
}

.encoder {
  stroke: black;
  stroke-width: 0.05;
  fill: none;
}

.encoder-marker {
  fill: black;
}

.encoder-text {
  font-size: 0.3pt;
  text-align: center;
}

.mask {
  fill: rgba(0, 0, 0, 0.5);
}

.playhead {
  stroke: white;
  stroke-width: 0.2%;
  mix-blend-mode: difference;
}

.selection {
  fill: rgba(255, 255, 255, 1);
  mix-blend-mode: difference;
}
