#app {
  background-color: mintcream;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px auto;
  grid-template-areas:
    "controls controls ."
    "annotation-tool annotation-tool annotations";
  grid-gap: 1rem;
  padding: 1rem;
}

.active {
  color: orchid;
}

.annotation-form {
  background-color: lavenderblush;
  border: 1px solid thistle;
  margin-bottom: 1rem;
}

.annotation-form button {
  padding: 0.25rem;
}

.annotation-form h3 {
  flex-grow: 1;
}

.annotation-form pre {
  margin: 0;
  padding: 1rem;
}

.annotation-form .title {
  align-items: center;
  background-color: thistle;
  display: flex;
  padding: 0.5rem;
}

.annotation-form .encoders {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  text-align: center;
}

.annotation-form .encoders svg {
  display: block;
}

.annotation-tool {
  background-color: cornsilk;
  border: 1px solid burlywood;
  display: grid;
  grid-area: annotation-tool;
  grid-gap: 0.5rem;
  grid-template-areas:
    ". n1"
    "y1 v1"
    ". x1"
    "y2 v2"
    ". n2";
  grid-template-columns: 80px 1fr;
  grid-template-rows: 40px 300px 20px 300px 40px;
  padding: 0.5rem;
}

.annotations {
  grid-area: annotations;
}

.audio-controls {
  display: flex;
  flex-direction: row;
  justify-self: end;
}

.audio-duration {
  background-color: cornsilk;
  border: 1px solid burlywood;
  display: flex;
  flex-direction: row;
  font-family: monospace;
  font-size: 1.25rem;
  justify-content: space-between;
  padding: 0.5rem;
}

.axis-x {
  grid-area: x1;
}

.controls {
  align-items: center;
  display: grid;
  grid-area: controls;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.navigator {
  cursor: crosshair;
  background-color: navajowhite;
}

.spectrogram.axis-y {
  grid-area: y1;
}

.spectrogram.navigator {
  grid-area: n1;
}

.spectrogram.visualization {
  grid-area: v1;
}

.tool-controls {
  display: flex;
  flex-direction: row;
}

.tool-annotate .visualization {
  cursor: crosshair;
}

.tool-pan .visualization {
  cursor: move;
}

.tool-select .visualization {
  cursor: context-menu;
}

.tool-zoom .navigator {
  cursor: zoom-out;
}

.tool-zoom .visualization {
  cursor: zoom-in;
}

.visualization {
  background-color: navajowhite;
}

.waveform.axis-y {
  grid-area: y2;
}

.waveform.navigator {
  grid-area: n2;
}

.waveform.visualization {
  grid-area: v2;
}
