/* user styles */
body {
  background-color: #eee;
}

#app {
  display: flex;
  justify-content: space-between;
}

#app main {
  flex-grow: 1;
}

#app main div~div {
  margin-top: 1rem;
}

#app aside {
  width: 38%;
  margin-left: 1rem;
}

.annotation-form {
  border: 1px solid black;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.annotation-form .title {
  background-color: black;
  color: white;
  display: flex;
  padding: 0.5rem;
}

.annotation-form .title div {
  flex-grow: 1;
}

.annotation-form .encoders {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.annotation-form .encoders svg {
  display: block;
}

/* specviz defaults */
.visualization {
  height: 300px;
  background-color: #FBF1A9;
  border-radius: 0.25rem;
  border: 1px solid #000;
  overflow: hidden;
  margin: 0.25rem 0;
}

.visualization.annotate {
  cursor: crosshair;
}

.visualization.select {
  cursor: context-menu;
}

.visualization.zoom {
  cursor: zoom-in;
}

.visualization.pan {
  cursor: move;
}

.visualization .playhead {
  stroke: white;
  stroke-width: 0.2%;
  mix-blend-mode: difference;
}

.visualization .selection {
  fill: rgba(200, 200, 200, 1);
  mix-blend-mode: difference;
}

.cursor-x,
.cursor-y {
  stroke: white;
  stroke-width: .2%;
  mix-blend-mode: difference;
}

.cursor-text {
  fill: white;
  font-size: 12pt;
  font-family: monospace;
  mix-blend-mode: difference;
}

.navigator {
  height: 30px;
  cursor: crosshair;
  background-color: #FBF1A9;
  border-radius: 0.25rem;
  border: 1px solid #000;
  overflow: hidden;
}

.navigator.zoom {
  cursor: zoom-out;
}

.navigator .playhead {
  stroke: white;
  stroke-width: 0.2%;
  mix-blend-mode: difference;
}

.navigator .playhead-text {
  display: none;
}

.navigator .mask {
  fill: rgba(0, 0, 0, 0.5);
}

.annotation {
  mix-blend-mode: difference;
}

.annotation rect {
  fill: rgba(66, 66, 66, 0.66);
  stroke: rgba(200, 200, 200, 0.66);
}

.annotation text {
  fill: rgba(200, 200, 200, 0.66);
  font-size: 10pt;
  text-anchor: start;
  alignment-baseline: hanging;
  font-family: monospace;
  mix-blend-mode: difference;
}

.annotation.annotation-selected rect {
  fill: rgba(200, 200, 200, 1);
}

.annotation.annotation-selected text {
  fill: rgba(200, 200, 200, 1)
}

.axis-tick line {
  stroke: rgba(200, 200, 200, 1);
  stroke-width: 2px;
  mix-blend-mode: difference;
}

.axis-tick text {
  alignment-baseline: hanging;
  fill: rgba(200, 200, 200, 1);
  font-family: monospace;
  font-size: 8pt;
  mix-blend-mode: difference;
  text-anchor: start;
}

button.active {
  color: #D5008F;
}

.encoder {
  stroke: black;
  stroke-width: 0.05;
  fill: none;
}

.encoder-marker {
  fill: black;
}

.encoder-text {
  font-size: 0.3pt;
  text-align: center;
}