#app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem 0;
}

.active {
  color: orchid;
}

.annotation rect {
  fill: rgba(50, 50, 50, 50);
  mix-blend-mode: difference;
}

.annotation text {
  fill: rgba(255, 255, 255, 1);
  mix-blend-mode: difference;
}

.annotation-selected rect {
  fill: rgba(200, 200, 200, 1);
}

.annotation-table {
  background-color: lavenderblush;
  border: 1px solid thistle;
  max-height: 400px;
  overflow: auto;
  padding: 1rem;
  text-align: left;
}

.annotation-table input {
  font-family: monospace;
  font-size: 0.75rem;
  padding: 0.25rem;
}

.annotation-table td:nth-child(5),
.annotation-table td:nth-child(6),
.annotation-table td:nth-child(7),
.annotation-table td:nth-child(8),
.annotation-table th:nth-child(5),
.annotation-table th:nth-child(6),
.annotation-table th:nth-child(7),
.annotation-table th:nth-child(8) {
  text-align: center;
}

.annotation-tool {
  background-color: cornsilk;
  border: 1px solid burlywood;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-areas:
    ". n1"
    "y1 v1"
    ". x1"
    "y2 v2"
    ". n2";
  grid-template-columns: 80px 1fr;
  grid-template-rows: 40px 300px 20px 300px 40px;
  padding: 0.5rem;
}

.audio-duration {
  background-color: cornsilk;
  border: 1px solid burlywood;
  display: flex;
  font-family: monospace;
  font-size: 1.25rem;
  justify-content: space-between;
  padding: 0.5rem;
}

.axis-x {
  grid-area: x1;
}

.controls {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.controls-audio {
  display: flex;
  gap: 1rem;
  justify-self: end;
}

.controls-tool {
  display: flex;
  gap: 1rem;
}

.navigator {
  cursor: crosshair;
  background-color: navajowhite;
}

.spectrogram.axis-y {
  grid-area: y1;
}

.spectrogram.navigator {
  grid-area: n1;
}

.spectrogram.visualization {
  grid-area: v1;
}

.tool-annotate .visualization {
  cursor: context-menu;
}

.tool-move .visualization {
  cursor: move;
}

.tool-select .visualization {
  cursor: crosshair;
}

.tool-zoom .navigator {
  cursor: zoom-out;
}

.tool-zoom .visualization {
  cursor: zoom-in;
}

.visualization {
  background-color: navajowhite;
}

.waveform.axis-y {
  grid-area: y2;
}

.waveform.navigator {
  grid-area: n2;
}

.waveform.visualization {
  grid-area: v2;
}
