body {
  background-color: #eee;
}

body > #root div ~ div {
  margin-top: 1rem;
}

.visualization {
  height: 250px;
  background-color: #FBF1A9;
  border-radius: 0.25rem;
  border: 1px solid #000;
  overflow: hidden;
  margin: 0.25rem 0;
}

.visualization.annotate {
  cursor: crosshair;
}

.visualization.select {
  cursor: context-menu;
}

.visualization.zoom {
  cursor: zoom-in;
}

.visualization.pan {
  cursor: move;
}

.visualization .playhead {
  mix-blend-mode: difference;
}

.visualization .playhead .line {
  stroke: white;
  stroke-width: 3px;
}

.visualization .playhead .text {
  fill: white;
  font-size: 1rem;
  font-family: sans-serif;
  text-anchor: start;
}

.visualization .annotation {
  fill: rgba(33, 33, 33, 1);
  stroke: rgba(133, 133, 133, 1);
  mix-blend-mode: difference;
  stroke-width: 0.1%;
}

.visualization .selection {
  fill: rgba(77, 77, 77, 1);
  mix-blend-mode: difference;
}

.navigator {
  height: 50px;
  cursor: crosshair;
  background-color: #FBF1A9;
  border-radius: 0.25rem;
  border: 1px solid #000;
  overflow: hidden;
}

.navigator.zoom {
  cursor: zoom-out;
}

.navigator .playhead .line {
  stroke: white;
  stroke-width: 0.2%;
  mix-blend-mode: difference;
}

.navigator .playhead .text {
  display: none;
}

.navigator .mask {
  fill: rgba(0, 0, 0, 0.5);
}

.navigator .annotation {
  fill: rgba(33, 33, 33, 1);
  mix-blend-mode: difference;
}

button.active {
  color: #D5008F;
}
