/* user styles */
body {
  background-color: #eee;
}

#app {
  display: flex;
  justify-content: space-between;
}

#app main {
  width: 60%;
}

#app main div ~ div {
  margin-top: 1rem;
}

#app aside {
  width: 35%;
  padding: 0 1rem;
  border-radius: 0.25rem;
  border: 1px solid #000;
}

/* specviz defaults */
.visualization {
  height: 200px;
  background-color: #FBF1A9;
  border-radius: 0.25rem;
  border: 1px solid #000;
  overflow: hidden;
  margin: 0.25rem 0;
}

.visualization.annotate {
  cursor: crosshair;
}

.visualization.select {
  cursor: context-menu;
}

.visualization.zoom {
  cursor: zoom-in;
}

.visualization.pan {
  cursor: move;
}

.visualization .playhead {
  stroke: white;
  stroke-width: 0.2%;
  mix-blend-mode: difference;
}

.visualization .selection {
  fill: rgba(200, 200, 200, 1);
  mix-blend-mode: difference;
}

.cursor-x, .cursor-y {
  stroke: white;
  stroke-width: .2%;
  mix-blend-mode: difference;
}

.cursor-text {
  fill: white;
  font-size: 12pt;
  font-family: monospace;
  mix-blend-mode: difference;
}

.navigator {
  height: 30px;
  cursor: crosshair;
  background-color: #FBF1A9;
  border-radius: 0.25rem;
  border: 1px solid #000;
  overflow: hidden;
}

.navigator.zoom {
  cursor: zoom-out;
}

.navigator .playhead {
  stroke: white;
  stroke-width: 0.2%;
  mix-blend-mode: difference;
}

.navigator .playhead-text {
  display: none;
}

.navigator .mask {
  fill: rgba(0, 0, 0, 0.5);
}

.annotation {
  fill: rgba(33, 33, 33, 1);
  mix-blend-mode: difference;
}

.annotation-selected {
  fill: rgba(99, 99, 99, 1);
}

button.active {
  color: #D5008F;
}
