body {
  background-color: #eee;
}

body > #root div ~ div {
  margin-top: 1rem;
}

.visualization {
  height: 250px;
  background-color: #FBF1A9;
  border-radius: 0.25rem;
  border: 1px solid #000;
  overflow: hidden;
  margin: 0.25rem 0;
}

.visualization.annotate {
  cursor: crosshair;
}

.visualization.select {
  cursor: context-menu;
}

.visualization.zoom {
  cursor: zoom-in;
}

.visualization.pan {
  cursor: move;
}

.visualization .playhead {
  stroke: white;
  stroke-width: 0.3%;
  mix-blend-mode: difference;
}

.cursor-x, .cursor-y {
  stroke: white;
  stroke-width: .3%;
  mix-blend-mode: difference;
}


.cursor-text {
  fill: white;
  font-size: 12pt;
  font-family: monospace;
  mix-blend-mode: difference;
}

.visualization .annotation {
  fill: rgba(33, 33, 33, 1);
  mix-blend-mode: difference;
}

.visualization .selection {
  fill: rgba(200, 200, 200, 1);
  mix-blend-mode: difference;
}

.navigator {
  height: 50px;
  cursor: crosshair;
  background-color: #FBF1A9;
  border-radius: 0.25rem;
  border: 1px solid #000;
  overflow: hidden;
}

.navigator.zoom {
  cursor: zoom-out;
}

.navigator .playhead {
  stroke: white;
  stroke-width: 0.2%;
  mix-blend-mode: difference;
}

.navigator .playhead-text {
  display: none;
}

.navigator .mask {
  fill: rgba(0, 0, 0, 0.5);
}

.navigator .annotation {
  fill: rgba(33, 33, 33, 1);
  mix-blend-mode: difference;
}

button.active {
  color: #D5008F;
}
